.App {
    text-align: center;
}

.App-header {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #181818;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

textarea {
    width: 600px;
    height: 50px;
}

table {
    background-color: #ffffff;
    cursor: default;
}

thead {
    background-color: rgb(205, 205, 205);
    border: solid 1px #000000;
    position: sticky;
    top: 0;
}

td, th {
    border: solid 1px #000000;
    padding: 3px;
    min-width: 60px;
}

tr:nth-child(even) {
    background-color: rgb(227, 227, 227);
}

tbody > tr:hover {
    background-color: rgba(94, 255, 120, 0.13);
}

form {
    background-color: #ebf1ff;
    border: 1px black solid;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #00000042;
    display: inline-block;
    margin: 20px auto;
    padding: 10px;
    text-align: left;
}

h1 {
    margin: 15px;
}

input[type=number] {
    width: 60px;
    height: 20px;
}

input[type=range] {
    width: 150px;
}

input[type=button] {
    padding: 5px;
}

input, select {
    border: 1px solid #666666;
    border-radius: 4px;
    font-size: 14px;
    margin: 5px;
    padding: 2px;
}

select {
    height: 26px;
}

label {
    margin: 10px;
    user-select: none;
}

.months14 {
    color: #0000d8;
}

#reset {
    float: right;
}

.WageCell {
    white-space: nowrap;
}

#title {
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
}

#footer {
    margin-top: 10px;
    padding: 5px;
}

#footer a {
    color: #efefef;
}

#title, #footer {
    background-color: #464646;
    box-shadow: 0 0 5px 1px #00000042;
    color: #efefef;
    width: 100%;
}